<div class="container h-100 justify-content-center align-items-center" align="center">
  <div class="row">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <div class="col-sm-8 form-group">
          <h1>Добро пожаловать<%= ', ' + current_user.email if current_user %>!</h1>
        </div>
        <%= render 'common/order_form' if current_user %>
      </div>
    </div>
  </div>
</div>