<h1>Editing Order</h1>

<%#= render 'form', order: @order %>
<%#= render 'common/order_form' %>
<%= render :partial => 'common/order_form' %>
<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
