<p id="notice"><%= notice %></p>

<h2>Список заказов:</h2>



<div class="container-fluid">
  <div class="row row-fluid justify-content-md-center">

    <%#= will_paginate %>

    <div class="table-responsive span11">
      <table class="table table-hover table-sm .table-responsive-sm" , style="width: 800px">
        <thead class="thead-dark filterHead">
        <tr>
          <th scope="co1" class="col-auto filterRow">Идентификатор</th>
          <th scope="col" class="col-auto filterRow">Адрес</th>
          <th scope="col" class="col-auto filterRow">Заказазчик</th>
          <th scope="col" class="col-auto filterRow">Статус</th>
          <th scope="col" class="col-auto filterRow">Дата начала</th>
          <th scope="col" class="col-auto filterRow">Дата завершения</th>
          <th scope="col" class="col-auto filterRow">Будет выполнен</th>
          <th scope="col" class="col-auto filterRow">О грузе</th>
          <th scope="col" class="col-auto filterRow">Комментарий</th>
          <th scope="col" class="col-auto filterRow">Статус</th>
          <th scope="col" class="col-auto filterRow">Водитель</th>
          <th scope="col" class="col-auto filterRow">Вложение</th>
          <th scope="col" class="col-auto filterRow">Действия</th>
        </tr>
        </thead>
        <tbody>
        <%= will_paginate %>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td style="word-wrap:break-word;min-width: 160px;max-width: 160px;"><%= order.address %></td>
            <td><%= order.user.email %></td>
            <td><%#= order.user.email %> Статус</td>
            <td><%= order.start_date.strftime("%T, %B %d") %></td>
            <td><%= order.end_date.strftime("%T, %B %d") %></td>
            <% if order.work_date != nil %>
              <td><%= order.work_date.strftime("%T, %B %d") %></td>
            <% else %>
              <td>Не назначено</td>
            <% end %>
            <td><%= '666 коробок' %></td>
            <td class="text"><span><%= raw order.comment %></span></td>
            <td><%= 'Новая заявка' %></td>
            <td><%= 'Водитель' %></td>
            <td>
            <td>
              <li><%= link_to 'Show', order %></li>
              <li><%= link_to 'Edit', edit_order_path(order) %></li>
              <li><%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Запись будет удалена.\n Продолжить?'} %> </li>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="pagination">
        <%= will_paginate @orders %>
      </div>
    </div>
    <br>
  </div>
  <div class="com-md-2">
  </div>
  <%= link_to 'New Order', new_order_path %>
</div>