<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 form-group">
      <%= bootstrap_form_for @order, url: {controller: 'orders', action: 'create'}, html: {class: 'nifty_form'} do |f| %>
        <div class="form-group">
          <%= f.collection_radio_buttons :purposes, Purpose.all, :id, :name, label: 'Цель поездки:', :item_wrapper_class => 'inline form-control' %>
        </div>
        <%= f.text_field :contractor_id, label: 'Контрагент', :placeholder => 'Контрагент' %>
        <%= f.text_field :address, label: 'Адрес места назначения', :input_html => {:id => 'address'}, :placeholder => 'Введите адрес' %>
        <%= f.text_area :comment, label: 'Комментарий к заявке', :class => 'tinymce', :language => 'ru', :rows => 5, :cols => 50 %>
        <%= tinymce %>
        <%= f.file_field :file, class: 'form-control', label: 'Вложить документ или схему проезда' %>
        <%= f.datetime_select :start_date, label: 'Заявка актуальна с' %>
        <%= f.datetime_select :end_date, label: 'Заявка актуальна по' %>
        <!--    <div class="col-sm-6 form-group">-->
        <!--      <input type="date" id="tesDP" class="form-control" contenteditable="false">-->
        <!--    </div>-->

        <%= f.select :dover, [['Не нужна', 1], ['ООО \'ОЛБО\'', 2], ['ООО \'Иником97\'', 2], ['ООО \'Фирма ОЛБО\'', 3]],
                     {label: 'Доверенность:'}, {class: 'selectpicker',
                                                wrapper: {class: 'has-warning',
                                                          data: {foo: 'bar'}}} %>
        <%= f.text_field :sum, append: '₽', label: 'Сумма', control_col: 'col-sm-4' %>


        <%#= f.check_box :parking, label: 'Платная парковка', inline: true %>
        <%#= f.check_box :heat, label: 'Отправлять теплом', inline: true %>
        <%#= f.check_box :wepay, label: 'Платим мы', inline: true %>
        <%#= f.check_box :big, label: 'Габаритный груз', inline: true %>
        <%# end %>
        <%#= f.collection_radio_buttons :adv_option, AdvOption.all, :id, :name %>
        <%= f.collection_check_boxes :adv_options, AdvOption.all, :id, :name, label: 'Дополнительно:' %>
        <%#= f.collection_check_boxes :adv_options, AdvOption.all, :id, :name, label: 'Дополнительно:', :item_wrapper_class => 'inline' %>
        <%= f.submit "Отправить", class: "btn btn-success" %>
        </div>
      <% end %>

      </div>
</div>