<!DOCTYPE html>
<html>
<head>
  <title>Logist</title>
  <%= csrf_meta_tags %>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>


<body>

<%= render 'common/navbar' %>
<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-auto">
      <%= yield %>
    </div>

  </div>
</div>

</body>

</html>
